@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee-container {
    width: 100%;
    overflow: hidden;
}

.animated-text {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    animation: marquee 15s linear infinite;
}

.animated-text h1 {
    margin-right: 20px;
}

.smart-gov {
    background: #f5f5f5;
    color: #343a40;
    --s: 80px;
    --_g: radial-gradient(#f5f5f5 45%, #63282800 46%);
    --_l: radial-gradient(#ffffff 15%, #63282800 16%);
    background: var(--_l), var(--_l), var(--_g), var(--_g);
    background-position: 0 0, var(--s) var(--s);
    background-size: calc(2 * var(--s)) calc(2 * var(--s));
    animation: x 2s cubic-bezier(0.5, 92, 0.5, -92) infinite,
        y 2s cubic-bezier(0.5, 92, 0.5, -92) infinite -0.5s;
}

@keyframes x {
    to {
        background-position-x: 1px, calc(var(--s) - 1px), 0, var(--s);
    }
}

@keyframes y {
    to {
        background-position-y: 1px, calc(var(--s) - 1px), 0, var(--s);
    }
}